<div class="top-menu">

    <img class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course">

    <course-card
        (courseSelected)="onCourseSelected($event)"
        [course]="course">

        <div class="course-image">
            <img class="course-image" width="300" alt="Angular Logo"
                [src]="course.iconUrl">
        </div>

        <div class="course-description">
            {{course.longDescription}}
        </div>

    </course-card>

</div>
